
.graphWrapper {
    flex-basis: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; 
} 

.formWrapper {
    flex-basis: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-top: calc(var(--baseUnit) * 10);
    margin-left: calc(var(--baseUnit) * 8);
}

.parentContainer {
    display: flex;
    width: 100%;
  }
  
  .ExchangeBalances {
    flex-basis: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; 
  }