.columOne {
    display: flex;
}

.sellInformation { 
    flex: 1;
    margin-left: 16px;
}

.sellInput {
    width: 300px;
}

.graph-wrapper {
  flex: 1;
} 

.radioGroupWrapper {
    margin-left: 16px;
}
