.uploadTime {
    display: 'flex'; 
    justify-content: 'flex-end'; 
    margin-right: "50px";
}

.clearCache {
    display: 'flex'; 
    justify-content: 'flex-end'; 
    margin-right: "50px";
}